USE [master]
GO
/****** Object:  Database [Timetable]    Script Date: 23/11/2023 03:11:56 ******/
CREATE DATABASE [Timetable]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Timetable', FILENAME = N'E:\SqlData\Timetable.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Timetable_log', FILENAME = N'E:\SqlData\Timetable_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Timetable].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Timetable]
GO
/****** Object:  Table [dbo].[calendarDates]    Script Date: 23/11/2023 03:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendarDates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[serviceId] [int] NOT NULL,
	[date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[calendars]    Script Date: 23/11/2023 03:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[calendars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[monday] [bit] NOT NULL,
	[tuesday] [bit] NOT NULL,
	[wednesday] [bit] NOT NULL,
	[thursday] [bit] NOT NULL,
	[friday] [bit] NOT NULL,
	[saturday] [bit] NOT NULL,
	[sunday] [bit] NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[routes]    Script Date: 23/11/2023 03:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[routes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[routeName] [nvarchar](50) NOT NULL,
	[routeColor] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__routes__3214EC0795824CF7] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stops]    Script Date: 23/11/2023 03:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stops](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[stopName] [text] NOT NULL,
	[stopLat] [float] NOT NULL,
	[stopLon] [float] NOT NULL,
	[routeBelong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__stops__72B081883E9D0EA3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stopTimes]    Script Date: 23/11/2023 03:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stopTimes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[tripId] [int] NOT NULL,
	[stopId] [int] NOT NULL,
	[stopSequence] [int] NOT NULL,
 CONSTRAINT [PK__stopTime__3214EC07F3D9C565] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trips]    Script Date: 23/11/2023 03:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trips](
	[routeId] [int] NOT NULL,
	[serviceId] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__trips__303EBF8597703709] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 23/11/2023 03:11:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[lastname] [nvarchar](50) NOT NULL,
	[address] [nvarchar](50) NULL,
	[email] [nvarchar](255) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__Users__3214EC27F7F6CA40] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__66DCF95C3EAEC0F1] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__AB6E6164A9C2BF10] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[calendarDates]  WITH CHECK ADD  CONSTRAINT [FK_calendarDates_calendars] FOREIGN KEY([serviceId])
REFERENCES [dbo].[calendars] ([Id])
GO
ALTER TABLE [dbo].[calendarDates] CHECK CONSTRAINT [FK_calendarDates_calendars]
GO
ALTER TABLE [dbo].[stops]  WITH CHECK ADD  CONSTRAINT [FK_stops_stops] FOREIGN KEY([Id])
REFERENCES [dbo].[stops] ([Id])
GO
ALTER TABLE [dbo].[stops] CHECK CONSTRAINT [FK_stops_stops]
GO
ALTER TABLE [dbo].[stopTimes]  WITH CHECK ADD  CONSTRAINT [FK_stopTime_stop] FOREIGN KEY([stopId])
REFERENCES [dbo].[stops] ([Id])
GO
ALTER TABLE [dbo].[stopTimes] CHECK CONSTRAINT [FK_stopTime_stop]
GO
ALTER TABLE [dbo].[stopTimes]  WITH CHECK ADD  CONSTRAINT [FK_stopTime_trip] FOREIGN KEY([tripId])
REFERENCES [dbo].[trips] ([Id])
GO
ALTER TABLE [dbo].[stopTimes] CHECK CONSTRAINT [FK_stopTime_trip]
GO
ALTER TABLE [dbo].[trips]  WITH CHECK ADD  CONSTRAINT [FK_trips_calendars] FOREIGN KEY([serviceId])
REFERENCES [dbo].[calendars] ([Id])
GO
ALTER TABLE [dbo].[trips] CHECK CONSTRAINT [FK_trips_calendars]
GO
ALTER TABLE [dbo].[trips]  WITH CHECK ADD  CONSTRAINT [FK_trips_routes] FOREIGN KEY([routeId])
REFERENCES [dbo].[routes] ([Id])
GO
ALTER TABLE [dbo].[trips] CHECK CONSTRAINT [FK_trips_routes]
GO
USE [master]
GO
