@page
@model WebApplication_BusTimeline.Pages.Login.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="mb-4">
    <h2>Login</h2>
    <form method="get">
        <div class="mb-2">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" asp-for="Username" required>
        </div>
        <div class="mb-2">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" asp-for="Password" required>
        </div>
        <div class="mb-4">
            <button type="submit">Login</button>
        </div>  
        @if(Model.ErrorMessage != null)
        {
            <div class="alert alert-danger" role="alert" style="margin-right: 800px;">
                <h7>@Model.ErrorMessage</h7>
            </div>
        }
    </form>
</div>

<a href="../Register/Register">New to our app, Register!</a>