@page
@model WebApplication_BusTimeline.Pages.Login.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div >
    <h2>Login</h2>
    <form method="post">
        <div >
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" asp-for="UserLoginDTO.Username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" asp-for="UserLoginDTO.Password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>  
       @*  <div>
            <label asp-for="error"></label>
        </div> *@
    </form>
</div>

<a href="../Register/Register">New to our app, Register!</a>