@page
@model WebApplication_BusTimeline.Pages.Stops.AddStopsModel
@{
}
<head>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

	<style>
		body {
			margin: 0;
			padding: 0;
			font-family: Arial, sans-serif;
		}

		.container {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
			padding: 5px;
			box-sizing: border-box;
		}

	</style>
</head>



<form method="post" onsubmit="OnPostNewStop()">
<div style="float: right; width: 80%">
		<div id="map" style="height: 600px;"></div>
</div>

<div style="float: left; width:20%" class="flex-column">
	<h5>Unesite ime stanice:</h5>
		<input type="text" id="stopName" name="stopName" required class="mb-2" />
		@if(Model.ErrorMessage != null)
		{

			@if (Model.ErrorMessage.StartsWith("Izaberite") || Model.ErrorMessage.StartsWith("Već"))
			{
				<div class="alert alert-danger" role="alert" style="margin-right: 40px;">
					<h7>@Model.ErrorMessage</h7>
				</div>
			}
			else 
			{
				<div class=" alert alert-success" role="alert" style="margin-right: 40px;">
					<h7>@Model.ErrorMessage</h7>
				</div>
			}

		}

		<label id="labelLat"></label>
		<label id="labelLon"></label>
		
		<div style="position:absolute; bottom : 0; left:0;">
			<a href="../Index">Home</a>
		</div>
</div>
		
	

	<script>
		console.log("Start map");

		var map = L.map('map').setView([44.968190, 19.608141], 16);
		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
		}).addTo(map);

		var marker = null; 

		function onMapClick(e) {
			if (marker != null) {
				map.removeLayer(marker);
			}

			console.log(e.latlng.lat);
			console.log(e.latlng.lng);

			document.getElementById("lat").value = e.latlng.lat;
			document.getElementById("lon").value = e.latlng.lng;


			document.getElementById("labelLat").innerHTML = e.latlng.lat;
			document.getElementById("labelLon").innerHTML = e.latlng.lng;

			marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map)

		} 

		map.on('click', onMapClick);

	</script>
	


	<input type="hidden" asp-for="lat" id="lat"/>
	<input type="hidden" asp-for="lon" id="lon"/>
	<div style="margin-left:40px" >
		<button type="submit">Dodaj stanicu</button>
	</div>
	
</form>

