@page
@model WebApplication_BusTimeline.Pages.Stops.AddStopsModel
@{
}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>


<div id="map" style="height: 600px;"></div>

<script>
	var map = L.map('map').setView([44.968190, 19.608141], 16);
	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
	}).addTo(map);

	map.on('click', function (e) {
		alert("Nova stanica ima koordinate:\n  Lat: " + e.latlng.lat + ",\n Lon: " + e.latlng.lng);
		var lat = e.latlng.lat; 
	});

	$.ajax({
		url: '@Url.Page("https://localhost:7292/Stops/AddStops?lat={lat}", "OnGet")',
		type: 'GET',
		data: { lat: lat }

	});

</script>

