@page
@model WebApplication_BusTimeline.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div>
    <h2>Register</h2>
    <form method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" asp-for="UserRegisterDTO.Name" required>
        </div>
        <div>
            <label for="lastname">Lastname:</label>
            <input type="text" id="lastname" name="lastname" asp-for="UserRegisterDTO.Lastname" required>
        </div>
        <div>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" asp-for="UserRegisterDTO.Address">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" asp-for="UserRegisterDTO.Email" required>
        </div>
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" asp-for="UserRegisterDTO.Username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" asp-for="UserRegisterDTO.Password" required>
        </div>
        <div>
            <label for="confirmpassword">Confirm Password:</label>
            <input type="password" id="confirmpassword" name="confirmpassword" asp-for="UserRegisterDTO.ConfirmPassword" required>
        </div>
        <div>
            <button type="submit">Register</button>
        </div>
    </form>
</div>

<a href="../Login/Login">Already our user, Login !</a>